<p>Hello!</p>
<p><%= @user.full_name %> has shared an inventory with your from <a hrer="http://wwww.myinventory.com">myinventory.com</a>.</p>
<p>You can view the inventory by opening the attached PDF.</p>
<p>If you have any questions about this inventory, please contact <%= @user.full_name %> at <%= mail_to @user.email %>.</p>
<p>Sincerely,</p>
<p>MyInventory</p>
<a href="http://wwww.myinventory.com">myinventory.com</a>
<br />
