<% provide(:title, "About") %>
<div class="static-page" id="about-page">
	<div class="container">
		<div class="row">
			<div id="about-tagline" class="col-md-10 col-md-offset-1">
        <div class='form-header'>About Us</div>
				<p>
          The founders of MyInventoryllc.com were encouraged to open their company after being burglarized, and had friends or family involved in a fire or flood. They realized how important having a home inventory really is when they had to file a claim and found how hard it was to remember thousands of dollars worth of forgotten items and received a less than desirable insurance settlement. 
        </p>
        <p>
          Majority of their friends, family or people they talk to that experience some kind of loss do admit that their insurance agents did suggest an inventory of their personal belongings but also admit that it was something they said they would do but never found the time or didn’t know where to start. This inspired the founders of MyInventoryllc.com to create an easy to use custom software that would allow customers to create their own personal inventory or hire one of their insured agents to do the service for them and because they enjoy helping others. 
        </p>
        <p>
          After months of diligence and hard work… speaking with insurance agents, insurance adjusters, financial planners, accountants, and attorneys the founders realized how valuable their services were going to be and created MY INVENTORY LLC just for YOU. 
        </p>
        <p>
          You can't put a price on PEACE OF MIND.
        </p>
      </div>
    </div>
  </div>
</div>