<% provide(:title, "About") %>

<div id="aboutTop">
    <div class="inSec container">
        <div id="aboutTopLeft">
            <p>
                A more effecient way to
                create inspection reports.
            </p>
            <p>
                Inspeckd is designed for property managers,
                landlords/owners, cleaning companies, and
                tenants, in the residential rental industry.
            </p>
        </div>
        <div id="aboutTopRight">
            <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItems.png" />
        </div>
    </div>
</div>
<div id="aboutMid">
    <div class="inSec">
        <p>
            Great features.
        </p>
        <p>
            We have simplified the process of creating inspection
            reports. With all of the following features you will be
            able to inspect your property with minimum effort
            and maximum professionalism.
        </p>
    </div>
</div>
<div id="aboutItems">
    <div class="inSec container">
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Doc.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    Custom inspections
                </p>
                <p>
                    Create inspection reports for your property. Inspeckd
                    allows you to add rooms, rename rooms, and add or
                    remove items within the room. It is simple and fast.
                </p>
            </div>
        </div>
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Check.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    Easy assessment
                </p>
                <p>
                    Note the condition of each item: good, fair, poor, clean,
                    dirty, marks, damage. Insert comments. Upload images.
                    You assess the property, we compile the data.
                </p>
            </div>
        </div>
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Clock.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    Save time
                </p>
                <p>
                    The easy assessment tools help our users save time,
                    a lot of time. Inspeckd does the hard work of compiling
                    the data you input into a readable, professional format.
                </p>
            </div>
        </div>
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Mobile.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    On the go
                </p>
                <p>
                    Inspeckd works on your laptop, tablet, mobile phone, or
                    any internet connected device. Don't be tied down to a
                    desk, finalize inspections at the property.
                </p>
            </div>
        </div>
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Cloud.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    In the cloud
                </p>
                <p>
                    Access to your inspection anywhere you may find yourself
                    throughout the day. Start your inspection your phone
                    and finish it on your laptop, without any hassle.
                </p>
            </div>
        </div>
        <div class="aboutItem">
            <div class="aboutItemImage">
                <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItem_Email.png" />
            </div>
            <div class="aboutItemInfo">
                <p>
                    Share
                </p>
                <p>
                    Your inspection can quickly be printed if you need a hard
                    copy, or sent to an email address with one click. Keep
                    owners, tenants, and property managers in the loop.
                </p>
            </div>
        </div>
    </div>
</div>