<% provide(:title, "About") %>
<div class="static-page" id="about-page">
  <div id="aboutTop">
      <div class="inSec container">
          <div id="aboutTopLeft">
              <p>
                 A great tool for anyone to document your belongings.
              </p>
              <p>
                Life can bring many unfortunate surprises. Whether burglary, natural disaster or an in-home mishap, MyInventory can help you be prepared.
              </p>
              <p>
                MyInventory works in two ways:
                <ol>
                  <li>Have an mi agent complete your inventory.</li>
                  <li>Complete an inventory on your own.</li>
                </ol>
              </p>
          </div>
          <div id="aboutTopRight">
              <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItems.png" />
          </div>
      </div>
  </div>
  <section id="about-tagline">
    <p class="tagline-title">All the features you need</p>
    <p class="tagline-body">MyInventory is a complete solution for creating your personal inventory. We have built the tools and features you will need to create a comprehensive document. Don't forget, you can add or remove any items from your report from any device.</p>
  </section>
  <div id="aboutItems">
      <div class="inSec container">
          <div class="aboutItem">
              <div class="aboutItemImage">
                <span class="glyphicon glyphicon-list-alt" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      Custom inventories
                  </p>
                  <p>
                      Create inventory reports for your property. MyInventory
                      allows you to add rooms, rename rooms, and add or
                      remove items within the room. It is simple and fast.
                  </p>
              </div>
          </div>
          <div class="aboutItem">
              <div class="aboutItemImage">
                  <span class="glyphicon glyphicon-ok" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      Easy assessment
                  </p>
                  <p>
                      Note the condition of each item: good, fair, poor, clean,
                      dirty, marks, damage. Insert comments. Upload images.
                      You assess the property, we compile the data.
                  </p>
              </div>
          </div>
          <div class="aboutItem">
              <div class="aboutItemImage">
                  <span class="glyphicon glyphicon-time" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      Save time
                  </p>
                  <p>
                      The easy assessment tools help our users save time,
                      a lot of time. MyInventory does the hard work of compiling
                      the data you input into a readable, professional format.
                  </p>
              </div>
          </div>
          <div class="aboutItem">
              <div class="aboutItemImage">
                  <span class="glyphicon glyphicon-phone" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      On the go
                  </p>
                  <p>
                      MyInventory works on your laptop, tablet, mobile phone, or
                      any internet connected device. Don't be tied down to a
                      desk, finalize inventories at the property.
                  </p>
              </div>
          </div>
          <div class="aboutItem">
              <div class="aboutItemImage">
                  <span class="glyphicon glyphicon-cloud" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      In the cloud
                  </p>
                  <p>
                      Access to your inventory anywhere you may find yourself
                      throughout the day. Start your inventory your phone
                      and finish it on your laptop, without any hassle.
                  </p>
              </div>
          </div>
          <div class="aboutItem">
              <div class="aboutItemImage">
                  <span class="glyphicon glyphicon-envelope" style="font-size:5em;"></span>
              </div>
              <div class="aboutItemInfo">
                  <p>
                      Share
                  </p>
                  <p>
                      Your inventory can quickly be printed if you need a hard
                      copy, or sent to an email address with one click. Keep
                      owners, tenants, and property managers in the loop.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>