<% provide(:title, "About") %>
<div class="static-page" id="about-page">
  <div id="aboutTop">
      <div class="inSec container">
          <div id="aboutTopLeft">
              <p>
                 A great tool for anyone to document your belongings.
              </p>
              <p>
                Life can bring many unfortunate surprises. Whether burglary, natural disaster or an in-home mishap, MyInventory can help you be prepared.
              </p>
              <p>
                MyInventory works in two ways:
                <ol>
                  <li>Have an mi agent complete your inventory.</li>
                  <li>Complete an inventory on your own.</li>
                </ol>
              </p>
          </div>
          <div id="aboutTopRight">
              <img alt="" src="//inspeckd.s3.amazonaws.com/v13/aboutItems.png" />
          </div>
      </div>
  </div>
  <section id="about-tagline">
    <p class="tagline-title">All the features you need</p>
    <p class="tagline-body">MyInventory is a complete solution for creating your personal inventory. We have built the tools and features you will need to create a comprehensive document. Don't forget, you can add or remove any items from your report from any device.</p>
  </section>
</div>