<% provide(:title, "Contact") %>
<div class="static-page">
	<div class="container">
		<div class="row">
			<div id="contactInfo" class="col-md-5 col-md-offset-1">
				<p>
					We want to help you anyway we can.
					If you need assistance using MyInventory,
					want to tell us how we can make MyInventory better,
					or just need to talk with another person,
					feel free to use the easiest contact method:
				</p>
        <div class="contact-header">Location</div>
        <p>
          My Inventory is located and operated in Las Vegas, NV.
        </p>
				<div class="contact-header">Email</div>
				<p>
					<a href="mailto:info@myinventoryllc.com">info@myinventoryllc.com</a>
				</p>
				<div class="contact-header">Phone</div>
				<p>
          Technical Support<br />
          801.449.1172
				</p>
				<p>
          Sales<br />
          702.429.2526
				</p>
			</div>
			<div class="col-md-4 col-md-offset-1">
        <div class="well clearfix message-well" ng-controller="MessageController">
					<div ng-hide="messageSent">
						<legend class="text-center">Contact Us</legend>
						<form name="contactForm" ng-submit="sendMessage()" role="form">
							<div class="form-group">
								<input name="name" type="text" class="form-control" ng-model="newMessage.name" placeholder="Your Name" required>
							</div>
							<div class="form-group">
								<input type="email" name="email" ng-model="newMessage.email" class="form-control" placeholder="Your Email" required>
							</div>
							<div class="form-group">
								<textarea type="text" name="content" ng-model="newMessage.content" class="form-control" 
																											placeholder="Your Message" rows="8" required></textarea>
							</div>
							<button type="submit" ng-disabled="!contactForm.$valid" class="btn btn-sm btn-primary pull-right">Send Message</button>
						</form>
					</div>
					<div ng-show="messageSent">
						<legend class="text-center">Contact Us</legend>
						<div class="message-sent">
							<p>Thank you for contacting MyInventory!</p>
							<p>Your message has been sent and we will respond as soon as possible.</p>
						</div>
						<button class="btn btn-sm btn-info pull-right" ng-click="messageSent = !messageSent">Reset Form</button>
					</div>
				</div>
      </div>
		</div>
	</div>
</div>
