<% provide(:title, "FAQs") %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='form-header'>FAQs</div>
  </div>
</div>

<div class='faq'>
  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>Why do I need your services?</h4>
      <p>
        Number one, for peace of mind.  Theft, fire or flood damages can destroy your home and/or personal possessions and erase a lifetime of memories when least expected.  Trying to inventory from memory everything you have worked so hard for can be an overwhelming task and could cause delays in settling your claims or cause them to be incomplete.
        The coverage for your personal property on your insurance policy is allowable maximum payout.  To receive the maximum reimbursement, homeowners must provide proof of ownership for each and every item they claim was destroyed, stolen, etc.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>Why should I hire you when I can do this myself?</h4>
      <p>
        Yes, you can do this yourself, in fact we encourage you to do so.  We offer that option to you and provide you with some guidance and resources.  However, although with good intentions conducting a thorough inventory is a time consuming and tedious process that most people don’t seem to accomplish.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>Do I need to be present while an MI Consultant is conducting an inventory?</h4>
      <p>
        Yes, the homeowner must be present on the premises at all times during the inventory process.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>How do I know I can trust you in my home?</h4>
      <p>
        We are licensed and insured and we provide you with a confidentiality statement.  All MI Consultants undergo a thorough background check.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>If I choose to have a MI Consultant prepare my inventory, how long can I expect the process to take?</h4>
      <p>
        This depends on the density of contents, extent of inventory as well as the time needed to photograph any special collections etc.  The best way to determine is to contact us directly for our free consultation.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>Do you also provide inventory services for small to medium size businesses?</h4>
      <p>
        Yes, please contact us for pricing.
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>How can I trust that my information is kept safe and secure?</h4>
      <p>
        We use a tightly configured firewall and our servers are located in a secure and 24/7 monitored datacenter.
      </p>
    </div>
    
</div>
