<% provide(:title, "FAQs") %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='form-header'>FAQs</div>
  </div>
</div>

<div class='faq'>
  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>How do I start creating my inventory?</h4>
      <p>
        After you have purchased an inventory plan on the profile page, go to the my inventories page and click "Add Inventory" to begin.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>What information should I include in my inventory?</h4>
      <p>
        Anything you think carries a replacement value. <a href='/list'>Here is a sample list of items you may want to consider.</a>
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>How do I add a room?</h4>
      <p>
        At the top of the inventory page you can add a room by selecting the room type and clicking the "Add Room" button.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>Can I change the name of a room?</h4>
      <p>
        Click on the room name text and change it to match what you need. Then click save.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>Can I include a description about an item?</h4>
      <p>
        There is a comment box next to any item. The more detailed you can be, the better.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>How do I add images to my inventory?</h4>
      <p>
        There is an upload image button at the bottom of each room. Find the image from your computer and then push upload. Be patient as it sometimes can take longer depending on the size of the image file.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>Can I include comments next to an image?</h4>
      <p>
        There is a comment box below the image. We recommend including a description for each item.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>How do I delete an item/image on my inventory?</h4>
      <p>
        There is a red trash can button next to each item. Be careful. Deleting an item/image cannot be undone.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <h4 class=''>Can I add new items after my inventory is finished?</h4>
      <p>
        We encourage you to keep your inventory up to date. Adding new items only takes a minute or two.
      </p>
    </div>
    <div class='col-sm-6'>
      <h4 class=''>How do I send my inventory to someone else?</h4>
      <p>
        You can use the email feature at the top of the inventory. It allows you to send it to anyone.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <h4 class=''>What is the "Show PDF" button?</h4>
      <p>
        This creates a PDF that you can save. Even though we store your inventory for you, it may be wise to create a PDF on a regular basis as you add/remove items.
      </p>
    </div>
  </div>
</div>
