<h4>GENERAL APPLIANCES</h4>
<li>Televisions</li>
<li>VCR/DVD player</li>
<li>Video camera</li>
<li>CD player</li>
<li>Stereo equipment</li>
<li>CDs, records</li>
<li>Radios</li>
<li>Sewing machine</li>
<li>Cameras</li>
<li>Answering machine</li>
<li>Phones</li>
<li>Washer/Dryer</li>
<li>Air conditioners</li>
<li>Heaters</li>
<li>Fans</li>
<li>Vacuum cleaner</li>
<li>Exercise equipment</li>

<h4>GENERAL HOUSEHOLD</h4>
<li>Carpet/rugs</li>
<li>Window treatments</li>
<li>Bookcases</li>
<li>Chairs</li>
<li>Lamps/light fixtures</li>
<li>Clocks</li>
<li>Mirrors</li>
<li>Vases</li>
<li>Collections (coin, stamp, etc.)</li>
<li>Pictures/wall hangings</li>
<li>Collectables </li>

<h4>LIVING ROOM</h4>
<li>Sofa</li>
<li>Chairs</li>
<li>Coffee table</li>
<li>End tables</li>
<li>Entertainment center/wall units</li>
<li>Piano/other musical instruments</li>

<h4>DINING ROOM</h4>
<li>Buffet</li>
<li>Table</li>
<li>Chairs</li>
<li>China cabinet</li>
<li>China</li>
<li>Silverware</li>
<li>Crystal</li>
<li>Table linens</li>
<li>Tea/coffee sets</li>
<li>Serving table/cart</li>

<h4>BEDROOMS</h4>
<li>Beds</li>
<li>Bed Linens</li>
<li>Dressers/Chests</li>
<li>Dressing Tables</li>
<li>Night tables</li>

<h4>CLOTHING</h4>
<li>Shoes</li>
<li>Coats</li>
<li>Furs</li>
<li>Suits</li>
<li>Dresses</li>
<li>Sweaters</li>
<li>Sports Apparel</li>
<li>Shirts</li>
<li>Skirts</li>
<li>Jewelry</li>

<h4>KITCHEN</h4>
<li>Table</li>
<li>Chairs</li>
<li>Refrigerator</li>
<li>Freezer</li>
<li>Stove</li>
<li>Microwave Oven</li>
<li>Oven</li>
<li>Dishwasher</li>
<li>Coffee makers/other small appliances</li>
<li>Pots/Pans</li>
<li>Dishes</li>
<li>Glasses</li>
<li>Kitchen Utensils</li>

<h4>BATHROOMS</h4>
<li>Hair dryer/other electrical appliances</li>
<li>Scale</li>
<li>Shower Curtains</li>
<li>Towels</li>
<li>Cosmetics</li>

<h4>HOME OFFICE/STUDY/DEN</h4>
<li>Desk</li>
<li>Chairs</li>
<li>Sofa</li>
<li>Computer</li>
<li>Printer</li>
<li>Scanner</li>
<li>Fax Machine</li>
<li>Books</li>
<li>Tables</li>
<li>Business Supplies</li>

<h4>GARAGE/BASEMENT/ATTIC/SHED</h4>
<li>Furniture</li>
<li>Luggage/Trunks</li>
<li>Sports Equipment</li>
<li>Toys/Outdoor Games</li>
<li>Bicycles</li>
<li>Small Boats</li>
<li>Trailers</li>
<li>Lawn Mower</li>
<li>Snow Blower</li>
<li>Shovels</li>
<li>Sprinkler/Hoses</li>
<li>Wheelbarrel/Other Garden Tools and Supplies</li>
<li>Ladders</li>
<li>Work Bench</li>
<li>Carpentry Tools/Supplies</li>
<li>Holiday Decorations</li>
<li>Tools</li>
<h4>PORCH/PATIO</h4>

<li>Garden Chairs</li>
<li>Garden Tables</li>
<li>Umbrellas</li>
<li>Outdoor Cooking Equipment</li>
<li>Planters</li>
<li>Jacuzzi</li>
