<% provide(:title, "Services") %>
<div class="static-page" id="service-page">
  <div class="service-tagline">
      <p class="tagline-title">Providing efficient and confidential customized services to meet and exceed your inventory needs.</p>
      <ul>
        <li>For disaster survivors who want to recreate a home inventory following a partial or total loss of personal belongings</li>
        <li>For those who want to take proactive steps to create a home inventory as a preventative measure</li>
      </ul>
  </div>
  <div class="service-tagline">
    <div class="row tagline-title">Tools and Resources</div>
    <div class-"row">
      <div class="col-md-6">
        <div class="well service-well">
          <div class="tagline-head">Our inventory system provides</div>
          <ul>
            <li>Customized reports</li>
            <li>Ability to add multiple pictures, receipts, appraisals</li>
            <li>Ability to add, edit and delete information as needed</li>
            <li>Quick and easy access 24/7/365</li>
            <li>Secure login</li>
            <li>Designed to meet your short and long term needs</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well service-well">
          <div class="tagline-head">Our services will help you</div>
          <ul>
            <li>Settle claims faster</li>
            <li>Assist with estate planning</li>
            <li>Serves as a sentimental keepsake for future generations</li>
            <li>Pictures to validate the value of your personal property/belongings</li>
            <li>Maximize reimbursement from insurance claims</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row service-tagline">
    <div class="tagline-title col-md-6">Confidentiality Guaranteed!</div>
    <div class="tagline-title col-md-6">Licensed, Insured & Bonded</div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='text-center btn-row'>
        <%= link_to 'Get Started', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>