<% provide(:title, "Support") %>
<div class="col-md-12">
  <div class="row">
  	<div class="col-md-8 pull-left form-header">FAQs</div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">What do the icons mean?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
The icons are separated into three columns. The first column, a set of three, describes the overall condition of the item. For example, is the carpet old and worn out. The second column, a set of two, lets the user describe whether or not the item is clean or dirty. For example, the carpet may be in "poor" condition, worn out, but the last tenant vacuumed and removed and leftover items so it would be considered "clean". The third column, a set of two, allows the user to show if there were marks or damaged items.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">Can I insert comments next to an assessed item?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
Yes. There is a spot at the end of the row to include specific comments. If an item is dirty or in poor condition, we recommend including a short description about it. If using a smartphone, try using the voice recognition software on your phone to "type" your comments. It will save a lot of time.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">Can I edit the names of the rooms or items?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
Yes. Just click on the text and you can edit the name to anything else. For example, you may want to change the name of one of the bedrooms to "Master" so the viewer can see what room is being assessed.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">How do I create a second inspection for the same property without be required to add rooms to the checklist?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
After you have included rooms on the first checklist, all the room types and names will be transferred to the second checklist automatically. You only need to set up the property once.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">How do I add pictures to my checklist?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
There is a link at the bottom of each room that allows you to upload images for the room. We recommend taking all of your pictures and uploading them all at the same time. You can also add comments next to each picture.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">Can I rename a property or inspection?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
  Yes. If you click on the "Profile" tab you are allowed to edit the information. For example, you can create a new inspection and edit the title to say something similar to "Unit #2 - Johnson". This will allow you to know the unit number and name of the tenant.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12">How do I share my inspection report?</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
  Click on the "Print" or "Send" tab. You will be able to view the final report before sending or printing. You can include multiple emails by separating them with a comma.
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h4 class="col-md-12 text-center">Questions, comments, concerns? We're here to help! <%= link_to "Contact Us", contact_path %></h4>
    </div>
  </div>  
</div>

