<%= form_for(@inspected_room) do |f| %>
  <% if @inspected_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspected_room.errors.count, "error") %> prohibited this inspected_room from being saved:</h2>

      <ul>
      <% @inspected_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
