<h1>Listing inspected_features</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inspected_features.each do |inspected_feature| %>
      <tr>
        <td><%= link_to 'Show', inspected_feature %></td>
        <td><%= link_to 'Edit', edit_inspected_feature_path(inspected_feature) %></td>
        <td><%= link_to 'Destroy', inspected_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspected feature', new_inspected_feature_path %>
