<div class="panel panel-default" ng-controller="ImageController">
	<div class="panel-heading">
		<div class="panel-title">Company Logo</div>
	</div>
	<div class="panel-body">
		<div class="row" ng-hide="user.company.logo">
			<div class="col-md-2">
				<form ng-upload="uploadCompanyImage(content)" action="/images" upload-options-enable-rails-csrf>
					<span ng-show="uploadStatus == 'nofile'" class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Select an image to upload</span>
						<input type="file" name="image[asset]" onchange="angular.element(this).scope().setFiles(this)">
					</span>
					<input type='hidden' name='image[imageable_id]' value='{{user.company.id}}'>
					<input type='hidden' name='image[imageable_type]' value='Company'>
					<input type='hidden' name='image[company_id]' value='{{user.company.id}}'>
					<button ng-show="uploadStatus == 'uploading'" class="btn btn-warning" disabled>
						<i class="glyphicon glyphicon-cloud-upload"></i>
						<span>Uploading {{ files[0].name }}</span>
					</button>
					<button ng-show="uploadStatus == 'hasfile'" class="btn btn-success" upload-submit ng-click="startUpload()">
						<i class="glyphicon glyphicon-arrow-up"></i>
						<span>Upload {{ files[0].name }}</span>
					</button>
				</form>
			</div>
		</div>
		<div class="row " ng-show="user.company.logo">
	    <div class="thumbnail logo-thumbnail">
	      <img ng-src="{{ user.company.logo.asset.asset.url }}">
				<button class="btn-image-delete btn btn-xs btn-danger pull-right" ng-click="deleteLogo(user.company.logo)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
	    </div>
		</div>
	</div>
</div>