<% provide(:title, "Admin - Users") %>
<div class="col-md-12" ng-controller="UserController">
  <div class="panel-group">
    <div class="panel panel-default user-panel panel-warning" ng-hide="(users | filter:{agent:true,agent_status:'pending'}).length < 1">
			<div class="panel-heading">
				<h4 class="panel-title">Pending Agents</h4>
			</div>
      <ul class="list-group">
        <li class="list-group-item row" ng-repeat="user in users | filter:{agent:true,agent_status:'pending'}">
          <div class="col-md-3">{{ user.full_name }}</div>
          <div class="col-md-3">{{ user.email }}</div>
          <div class="col-md-3">{{ user.address.city_state }}</div>
          <div class="col-md-3 pull-right text-right">
            <button class="btn btn-sm btn-success" ng-click="updateAgentStatus(user,true,'approved')">Approve</button>
            <button class="btn btn-sm btn-warning" ng-click="updateAgentStatus(user,true,'pending')" disabled>Pending</button>
            <button class="btn btn-sm btn-danger" ng-click="updateAgentStatus(user,true,'declined')">Decline</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel panel-default user-panel panel-success" ng-hide="(users | filter:{agent:true,agent_status:'approved'}).length < 1">
			<div class="panel-heading">
				<h4 class="panel-title">Approved Agents</h4>
			</div>
      <ul class="list-group">
        <li class="list-group-item row" ng-repeat="user in users | filter:{agent:true,agent_status:'approved'}">
          <div class="col-md-3">{{ user.full_name }}</div>
          <div class="col-md-3">{{ user.email }}</div>
          <div class="col-md-3">{{ user.address.city_state }}</div>
          <div class="col-md-3 pull-right text-right">
            <button class="btn btn-sm btn-success" ng-click="updateAgentStatus(user,true,'approved')" disabled>Approve</button>
            <button class="btn btn-sm btn-warning" ng-click="updateAgentStatus(user,true,'pending')">Pending</button>
            <button class="btn btn-sm btn-danger" ng-click="updateAgentStatus(user,true,'declined')">Decline</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="panel panel-default user-panel panel-danger" ng-hide="(users | filter:{agent:true,agent_status:'declined'}).length < 1">
			<div class="panel-heading">
				<h4 class="panel-title">Declined Agents</h4>
			</div>
      <ul class="list-group">
        <li class="list-group-item row" ng-repeat="user in users | filter:{agent:true,agent_status:'declined'}">
          <div class="col-md-3">{{ user.full_name }}</div>
          <div class="col-md-3">{{ user.email }}</div>
          <div class="col-md-3">{{ user.address.city_state }}</div>
          <div class="col-md-3 pull-right text-right">
            <button class="btn btn-sm btn-success" ng-click="updateAgentStatus(user,true,'approved')">Approve</button>
            <button class="btn btn-sm btn-warning" ng-click="updateAgentStatus(user,true,'pending')">Pending</button>
            <button class="btn btn-sm btn-danger" ng-click="updateAgentStatus(user,true,'declined')" disabled>Decline</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
