<% provide(:title, "Profile") %>
<div class="col-md-8" ng-init="userId=<%= current_user.id %>;stateList=<%= states %>;provinceList=<%= provinces %>">
	<div ng-controller="UserController">
		<form ng-submit="editUser(user)" name="editUserForm">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="panel-title">
						Personal Profile
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.first_name" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<input class="form-control" ng-model="user.last_name" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.email" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input type="tel" class="form-control" ng-model="user.phone_number" placeholder="Phone Number">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4">
							<input class="form-control" ng-model="user.address.city" placeholder="City">
						</div>
						<div class="col-md-4" ng-hide="user.address.country=='Canada'">
							<select class="form-control" ng-model="user.address.state" ng-options="state for state in stateList">
								<option value="">Select State</option>
							</select>
						</div>
						<div class="col-md-4" ng-show="user.address.country=='Canada'">
							<select class="form-control" ng-model="user.address.state" ng-options="province for province in provinceList">
								<option value="">Select Province</option>
							</select>
						</div>
						<div class="col-md-2">
							<input class="form-control" ng-model="user.address.zip" placeholder="Zip">
						</div>
						<div class="col-md-2">
							<select class="form-control" ng-model="user.address.country">
								<option value="USA">USA</option>
								<option value="Canada">Canada</option>
							</select>
						</div>
					</div>
          <div class="form-group row button-row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success pull-right">Save Changes</button>
            </div>
          </div>
				</div>
			</div>
		</form>
	</div>
</div>
<%= render :partial => 'purchase_inventory' %>

