<% provide(:title, "Profile") %>
<div class="col-md-8" ng-init="userId=<%= current_user.id %>;stateList=<%= states %>">
	<div ng-controller="UserController">
		<form ng-submit="editUser(user)" name="editUserForm">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="panel-title">
						Personal Profile
						<button ng-show="editUserForm.$dirty" type="submit" class="btn btn-xs btn-success pull-right">Save Changes</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.first_name" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<input class="form-control" ng-model="user.last_name" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.email" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input type="tel" class="form-control" ng-model="user.phone_number" placeholder="Phone Number">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.address.street1" placeholder="Street Address" name="street">
						</div>
						<div class="col-md-6">
							<input class="form-control" ng-model="user.address.street2" placeholder="Apt/Suite/Dept">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.address.city" placeholder="City">
						</div>
						<div class="col-md-3">
							<select class="form-control" ng-model="user.address.state" ng-options="state for state in stateList">
								<option value="">Select State</option>
							</select>
						</div>
						<div class="col-md-3">
							<input class="form-control" ng-model="user.address.zip" placeholder="Zip">
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Company Profile
						<button ng-show="editCompanyForm.$dirty" type="submit" class="btn btn-xs btn-success pull-right">Save Changes</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group row">
						<div class="col-md-12">
							<input class="form-control" ng-model="user.company.title" placeholder="Title">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.company.email" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input class="form-control" ng-model="user.company.phone_number" placeholder="Phone Number">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.company.address.street1" placeholder="Street Address" name="street">
						</div>
						<div class="col-md-6">
							<input class="form-control" ng-model="user.company.address.street2" placeholder="Apt/Suite/Dept">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<input class="form-control" ng-model="user.company.address.city" placeholder="City">
						</div>
						<div class="col-md-3">
							<select class="form-control" ng-model="user.company.address.state" ng-options="state for state in stateList">
								<option value="">Select State</option>
							</select>
						</div>
						<div class="col-md-3">
							<input class="form-control" ng-model="user.company.address.zip" placeholder="Zip">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<ng-form action="/accounts/{{ account.id }}/images" class="form-horizontal" ng-upload upload-options-enable-rails-csrf>
								<input type='hidden' name='image[imageable_id]' value='{{ user.company.id }}'>
								<input type='hidden' name='image[imageable_type]' value='Company'>
								<input type='file' name='image[asset]'>
								<button ng-show="uploading" class="btn btn-sm btn-warning" disabled>Uploading</button>
								<button ng-hide="uploading"class="btn btn-sm btn-success" upload-submit='addLogoResults(content, completed)'>Add Image</button>
							</ng-form>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<% if @user.subscription.subscription_type == "free" %>
	<%= render :partial => 'free_account' %>
<% else %>
	<%= render :partial => 'active_account' %>
<% end %>
<% content_for :javascript do %> 
  <script type="text/javascript">
		var braintree = Braintree.create("MIIBCgKCAQEAqu1rnHeirm6hDVentjrRLwwltkxuQAg9csrZJohasyHcc2tHIQWTqHzzGE09RJ5oUA7d2IxZQSoryi9Rjfxx666NGekwep472j3QjL8OsovMtNhbT6WmOniStIv0ievbAM2ZBuumvmt8tutk6tD+fVYzodZu6UOUktNzQ7VArJKMrnnbLkyMJfNbhq0u2dgmMmth/YmazmrnV8MesYaP8xXFVhVqLHB1BmYe6/gtfne6N9eV4G791Eks/AywwHKXza5jbnquhkhhXLFtDk3GJ5lSCgyfggROR7aOmR1RT9aFLtzaqirm0iqQaqFZ2rr1DcHx/fwoAK2a6kKE/4/rbQIDAQAB")
		braintree.onSubmitEncryptForm('braintree-form');
	</script>
<% end %>