<div class="col-md-10 col-md-offset-1" ng-init="stateList=<%= states %>;providenceList=<%= providences %>;detailList=<%= detail_list %>;roomList=<%= room_list %>">
	<div ng-controller="PropertyController">
		<form ng-submit="createProperty()" class="form-horizontal">
			<div class="form-group row">
        <label class="col-md-2 control-label">Name</label>
				<div class="col-md-10">
					<input class="form-control" ng-model="newProperty.name" placeholder="Name">
				</div>
			</div>
			<div class="form-group row">
        <label class="col-md-2 control-label">Address / Unit</label>
				<div class="col-md-7">
					<input class="form-control" ng-model="newProperty.address_attributes.street1" placeholder="Street">
				</div>
				<div class="col-md-3">
					<input class="form-control" ng-model="newProperty.address_attributes.street2" placeholder="Apt/Suite">
				</div>
			</div>
			<div class="form-group row">
        <label class="col-md-2 control-label">City / State / Zip</label>
				<div class="col-md-4">
					<input class="form-control" ng-model="newProperty.address_attributes.city" placeholder="City">
				</div>
				<div class="col-md-2" ng-hide="newProperty.address_attributes.country=='Canada'">
					<select class="form-control" ng-model="newProperty.address_attributes.state" ng-options="state for state in stateList">
						<option value="">State</option>
					</select>
				</div>
				<div class="col-md-2" ng-show="newProperty.address_attributes.country=='Canada'">
					<select class="form-control" ng-model="newProperty.address_attributes.state" ng-options="providence for providence in providenceList">
						<option value="">Providence</option>
					</select>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="newProperty.address_attributes.zip" placeholder="Zip">
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="newProperty.address_attributes.country" ng-options="country for country in countryList">
						<option value="">Country</option>
					</select>
				</div>
			</div>
      <div class="form-group row">
        <label class="col-md-2 control-label">Details</label>
        <div class="col-md-10">
    			<span ng-repeat="detail in detailList">
            <button ng-click="addDetailToList(detail)" type="button" 
      							ng-class="{'btn-primary': checkForDetail(propertyDetailList,detail), 'btn-default': !checkForDetail(propertyDetailList,detail)}" 
      							class="btn btn-sm">{{ detail }}
      			</button>
          </span>
        </div>
      </div>
  		<div class="form-group row">
        <label class="col-md-2 control-label">Room Count</label>
  			<div class="room-count-box col-md-2" ng-repeat="room in room_list">
          <input type="text" ng-model="room.count" class="form-control">
  				<div class="text-center text-muted"><small>{{ room.name }}</small></div>
  			</div>
  		</div>
      <button type="submit" class="btn btn-xs btn-success pull-right">Save Changes</button>
    </form>
  </div>
</div>