<div class="form-group row">
  <label class="col-md-2 control-label">Name</label>
	<div class="col-md-10">
		<input class="form-control" ng-model="newProperty.name" placeholder="Name">
	</div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Address / Unit</label>
	<div class="col-md-7">
		<input class="form-control" ng-model="newProperty.address_attributes.street1" placeholder="Street">
	</div>
	<div class="col-md-3">
		<input class="form-control" ng-model="newProperty.address_attributes.street2" placeholder="Apt/Suite">
	</div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">City / State / Zip</label>
	<div class="col-md-4">
		<input class="form-control" ng-model="newProperty.address_attributes.city" placeholder="City">
	</div>
	<div class="col-md-2" ng-hide="newProperty.address_attributes.country=='Canada'">
		<select class="form-control" ng-model="newProperty.address_attributes.state" ng-options="state for state in stateList">
			<option value="">State</option>
		</select>
	</div>
	<div class="col-md-2" ng-show="newProperty.address_attributes.country=='Canada'">
		<select class="form-control" ng-model="newProperty.address_attributes.state" ng-options="province for province in provinceList">
			<option value="">Province</option>
		</select>
	</div>
	<div class="col-md-2">
		<input class="form-control" ng-model="newProperty.address_attributes.zip" placeholder="Zip">
	</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="newProperty.address_attributes.country" ng-options="country for country in countryList">
			<option value="">Country</option>
		</select>
	</div>
</div>
<div class="form-group row">
  <label class="col-md-2 control-label">Room Count</label>
  <div class="col-md-10 room-count-boxes">
  	<div class="room-count-box col-md-2" ng-repeat="room in room_list">
      <input type="text" ng-model="room.count" class="form-control text-center">
  		<div class="text-center text-muted"><small>{{ room.name }}</small></div>
  	</div>
  </div>
</div>
