<div class="panel-group" id="accordion">
	<% @property.rooms.each do |room| %>
	  <div class="panel panel-default room-panel">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a class="accordion-toggle room-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= room.id %>">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
	        <%= room.name %>
	      </h4>
	    </div>
	    <div id="collapse<%= room.id %>" class="panel-collapse collapse">
	      <div class="panel-body">
					<% if room.features %>
						<ul class="list-group">
							<% room.features.keys.each do |key| %>
								<% room.features[key].each do |feature| %>
									<li class="list-group-item">
										<%= feature %>
										<span class="remove-feature-button glyphicon glyphicon-remove pull-right"></span>
									</li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>

<script>
$('.room-panel').on('show.bs.collapse', function () {
	$(this).find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
})

$('.room-panel').on('hidden.bs.collapse', function () {
	$(this).find('.glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
})
</script>
