<% provide(:title, "Properties") %>
<div class="col-md-12" ng-init="stateList=<%= states %>;provinceList=<%= provinces %>;detailList=<%= detail_list %>;">
  <div ng-controller="PropertyController">
    <div class="row ">
    	<div class="col-md-8 pull-left form-header">My Properties</div>
    	<div class="col-md-2 col-md-offest-8 pull-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newPropertyModal">
          Add Property
        </button>
    	</div>
    </div>
    <div class="panel-group" id="propertyAccordion">
  		<div class="property-panel panel panel-default" ng-repeat="property in properties">
  			<div class="panel-heading">
  				<h4 class="panel-title">
  					<div class="property-heading-row row">
  						<div class="col-md-3">
  							<span class="btn-toggle glyphicon glyphicon-plus" 
                data-toggle="collapse" data-parent="#propertyAccordion" href="#property_{{ property.id }}"></span>
  							{{ property.name }}
  						</div>
  						<div class="col-md-6">{{ property.address.full_address }}</div>
  						<div class="pull-right">
                <a class="btn btn-primary btn-xs" ng-href="/properties/{{property.id}}">Edit</a>
                <a class="btn btn-success btn-xs" ng-href="/inspections/new?property_id={{property.id}}">Inspect</a>
                <a class="btn btn-danger btn-xs" href="" ng-click="deleteProperty(property,$index)">Delete</a>
  						</div>
  					</div>
  				</h4>
  			</div>
  		</div>
    </div>
    <div id="newPropertyModal" class="modal fade">
  		<form ng-submit="createProperty()" class="form-horizontal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">New Property</h4>
            </div>
            <div class="modal-body">
              <%= render "new_property_modal" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Add Property</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
