<form action='/images' ng-upload upload-options-enable-rails-csrf>
	<input type='file' name='image[asset]' />
	<input type='submit' value='Upload' upload-submit='results(content, completed, room)'></input>
</form>