@import 'colors';

#about-page {
  #about-tagline {

    .tagline-title {
      text-align: center;
      font-size: 2.2em;
      color: $sagegreen;
    }
    .tagline-body {
      font-size: 1.2em;
      color: white;
    }
  }
}
