//.ng-invalid.ng-dirty .form-control {
//  border-color: #b94a48;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
//
//.ng-invalid.ng-dirty .form-control:focus {
//    border-color: #953b39;
//    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
//    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }
    
.message-sent {
  padding: 10px 20px 20px 20px;
  font-size: 1.0em;
}

#contactPage {
  padding: 30px;
  font-size: 16px;
}

#contactForm
{
    display: block;
    overflow: hidden;
    float: right;
    width: 44%;
    padding: 2em;
    margin-left: 4em;
    background-color: #F1F1F1;
    border: 2px solid #DDDDDD;
}

#contactInfo
{
    display: block;
    overflow: hidden;
}

.contact-header {
  font-size: 2.0em;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  line-height: 2em;
}