@import 'colors';
$navbar-default-bg: rgba(0,0,0,0);
$navbar-margin-bottom: 0px;
$navbar-border-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $lightyellow;
$brand-primary: $skyblue;

@import "twitter/bootstrap";

body {           
    font-family: 'Noto Sans',Tahoma,'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    color: #333333;      
    text-rendering: optimizeLegibility;
}

header {
  background-color: $skyblue;
  height: 100px;
  font-size: 1.4em;
  margin-bottom: 20px;
  nav {
    padding-top: 20px;
    font-size: 1em;
  }
  .mi-logo {
    position: absolute;
    right: 200px;
    top: 10px;
    height: 80px;
  }
}

section {

}


footer {
  text-align: center;
  height: 40px;
  color: white;
  background-color: $sandstone !important;
  line-height: 40px;
}


