@import 'colors';
$navbar-default-bg: rgba(0,0,0,0);
$navbar-margin-bottom: 0px;
$navbar-border-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $lightyellow;
$brand-primary: $skyblue;
//$brand-success: $sagegreen;

@import "twitter/bootstrap";

body {           
    font-family: 'Noto Sans',Tahoma,'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
    color: #333333;      
    text-rendering: optimizeLegibility;
}

header {
  background-color: $skyblue;
  font-size: 1.4em;
  nav {
    padding-top: 20px;
  }
  .mi-logo {
    width: 100px;
    margin: 10px auto;
  }
  #top-links {
    background-color: $skyblue;
  }
}

.menu {
  padding: 0px;
  &:after {
    clear: both;
    content: ' ';
    display: table;
  }
  li {
    list-style: none;
    a {
      padding: 30px 30px 30px 0px;
      float: left;
      color: #FFFFFF;
    }
  }
  @media (max-width: 767px) {
    li a {
      float: none;
      text-align: center;
      display: block;
      padding: 0px;
    }
  }
}

#main-container {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  min-height: 650px;
}

.form-header {
  font-size: 2.5em;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  line-height: 2em;
}


footer {
  text-align: center;
  color: white;
  background-color: $skyblue !important;
  line-height: 40px;
  
  a {
    color: white;
  }
  
  a:hover {
    color: $lightyellow;
  }
}

.form-control {
  color: #333333;
}


