#homeTop
{
    display: block;
    overflow: hidden;
    height: 400px;
    background-image: url('//inspeckd.s3.amazonaws.com/v13/homeback.jpg');
    background-size: cover;
    background-position: center center;
}

#homeTop  .inSec
{                                      
    height: 400px;                     
}                            


#homeMid
{
    display: block;
    overflow: hidden;                  
    background-color: #8cc63f;
}


#homeMid *
{                            
    color: #FFFFFF;
}

#homeMid  .inSec
{                        
    padding-top: 10px;  
    padding-bottom: 45px;                    
}



#homeMid p
{                            
    font-weight: 700;
    text-align: center;
    padding: 0 100px;
}


#homeMid p:first-child
{                         
    margin-top: 1em;
    font-size: 1.4em;
}


#homeBottom
{
    display: block;
    overflow: hidden;  
    padding-bottom: 30px;             
}


#homeBottom *
{                            
    color: #0173a5;
}

#homeBottom  .inSec
{                                      
    min-height: 200px;  
    padding-top: 30px;  
    padding-bottom: 30px;                   
}


.homeBottomItem
{
    display: block;
    overflow: hidden;       
    float: left;
    width: 25%;        
}


.homeBottomItem p
{                
    text-align: center;   
    margin-top: 1em;   
    font-size: .75em;
    padding: 0 8%;
}

.homeBottomItem img
{                  
    width: 80%;
}
                     
.homeBottomItem p:nth-child(2)
{                     
    font-size: 1em;  
    font-weight: 700;
    margin-top: 0;
}
     


#homeTopLeft
{
    display: block;
    overflow: hidden;
    float: left; 
    width: 40%;   
    padding: 30px;
    text-align: center;
}   

#homeTopRight
{
    display: block;
    overflow: hidden;    
    max-width: 400px;
}

h1
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 15px 12px;
    text-transform: uppercase;
    color: #8cc63f;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
    font-size: 1em;
    font-family: Arial, san-serif;
}

h2
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #8cc63f;
    font-weight: 700;
    margin: 0;
    margin-top: 2px;
    font-size: 2em;
    font-family: Arial, san-serif;           
}

h3
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 12px;           
    color: #0173a5;
    font-weight: 100;
    margin: 0;
    margin-top: 2px;
    font-size: .9em;
    font-family: Arial, san-serif;           
}


#homeTopRight a
{
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    background-color: #0173a5;
    color: #FFFFFF;
    padding: 6px 8px;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Arial, san-serif;   
}

#homeTop
{
    display: block;
    overflow: hidden;
    height: 400px;
    background-image: url('//inspeckd.s3.amazonaws.com/v13/homeback.jpg');
    background-size: cover;
    background-position: center center;
}

#homeTop  .inSec
{                                      
    height: 400px;                     
}                            


#homeMid
{
    display: block;
    overflow: hidden;                  
    background-color: #8cc63f;
}


#homeMid *
{                            
    color: #FFFFFF;
}

#homeMid  .inSec
{                        
    padding-top: 10px;  
    padding-bottom: 45px;                    
}



#homeMid p
{                            
    font-weight: 700;
    text-align: center;
    padding: 0 100px;
}


#homeMid p:first-child
{                         
    margin-top: 1em;
    font-size: 1.4em;
}


#homeBottom
{
    display: block;
    overflow: hidden;  
    padding-bottom: 30px;             
}


#homeBottom *
{                            
    color: #0173a5;
}

#homeBottom  .inSec
{                                      
    min-height: 200px;  
    padding-top: 30px;  
    padding-bottom: 30px;                   
}


.homeBottomItem
{
    display: block;
    overflow: hidden;       
    float: left;
    width: 25%;        
}


.homeBottomItem p
{                
    text-align: center;   
    margin-top: 1em;   
    font-size: .75em;
    padding: 0 8%;
}

.homeBottomItem img
{                  
    width: 80%;
}
                     
.homeBottomItem p:nth-child(2)
{                     
    font-size: 1em;  
    font-weight: 700;
    margin-top: 0;
}
     


#homeTopLeft
{
    display: block;
    overflow: hidden;
    float: left; 
    width: 40%;   
    padding: 30px;
    text-align: center;
}   

#homeTopRight
{
    display: block;
    overflow: hidden;    
    max-width: 400px;
}

h1
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 15px 12px;
    text-transform: uppercase;
    color: #8cc63f;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
    font-size: 1em;
    font-family: Arial, san-serif;
}

h2
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #8cc63f;
    font-weight: 700;
    margin: 0;
    margin-top: 2px;
    font-size: 2em;
    font-family: Arial, san-serif;           
}

h3
{
    display: inline-block;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 10px 12px;           
    color: #0173a5;
    font-weight: 100;
    margin: 0;
    margin-top: 2px;
    font-size: .9em;
    font-family: Arial, san-serif;           
}


#homeTopRight a
{
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    background-color: #0173a5;
    color: #FFFFFF;
    padding: 6px 8px;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Arial, san-serif;   
}
