@import 'colors';

#homepage {
  #homepage-top {
    height: 520px;
    background-color: none;
    background-image: image-url("mi_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FABC89;
    nav {
      margin-top: -40px;
      font-size: 1em;
    }
  }
  
  .hompage_logo {
    height: 220px;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  
  #homepage-tagline {
    text-align: center;
    padding: 40px 60px;
    background-color: $sagegreen;
    .tagline-title {
      font-size: 2.2em;
      color: $lightyellow;
    }
    .tagline-body {
      font-size: 1.2em;
      color: white;
    }
  }
  
  section {
    background-color: rgba(183, 179, 179, 0.1);
  }
  
  .homepage-block {
    padding: 20px 40px;
    text-align: center;
    color: $skyblue;
    span {
      min-height: 180px;
    }
    .head {
      font-weight: bold;
      color: $sandstone;
      font-size: 1.2em;
    }
    .body {
      color: $sandstone;
      font-size: .8em;
    }
  }
  
}

