@import 'colors';

#homepage {
  .homepage-top {
    background-image: image-url("mi_background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    color: #FFFFFF;
  }

  .homepage-image-text {
    padding: 30px 0px;
    text-align: left;
    font-size: 25px;
    font-style: italic;
  }
  
  .homepage-logo img {
    height: 220px;
    float: right;
  }

  .homepage-logo-responsive {
    margin: 0px auto;
    width: 200px;
  }

  section {
    padding: 25px 0px;
  }

  section.green {
    background-color: $sagegreen;
    color: #FFFFFF;
  }

  section.gray {
    background-color: $gray;
    color: $sandstone;
  }

  section.white {
    background-color: #FFFFFF;
  }

  .btn-row {
    padding: 30px 0px;
  }
  
  .homepage-block {
    padding: 20px 40px;
    text-align: center;

    .glyphicon {
      color: $skyblue;
      font-size: 100px;
    }  
    .head {
      font-weight: bold;
      font-size: 1.2em;
    }
    .body {
      font-size: .8em;
    }
  } 

  .lead {
    margin: 0px;
  }
}

