// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-thumb {
  padding: 10px 10px 10px 10px;
}

.img-caption {
  text-align: right;
  padding-top: 5px;
}

.file-field-control {
  border: none;
  box-shadow: none;
  padding-left: 0px;
}

.image-comment {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo-thumbnail {
  margin-left: 15px !important;
}