// Place all the styles related to the inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-cancel {
  margin-left: 5px;
}

.btn-top {
  margin-bottom: 20px;
  text-align: right;
}

.list-group-item-heading {
  margin-top: 7px;
}

.feature-name {
  margin-top: 7px;
}

.feature-table {
  margin: 10px 10px;
}

.btn-room-delete {
  margin-top: 2px;
}

.inspection-address {
  margin-top: 4px;
  font-size: 20px;
  font-weight: bold;
}

.add-room-form {
  margin-right: 15px;
}
