// Place all the styles related to the inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-cancel {
  margin-left: 5px;
}

.top-actions {
  margin-bottom: 20px;
}

.list-group-item {
  line-height: 32px;
}

.list-group-item-heading {
  margin-top: 7px;
}

.feature-name {
  margin-top: 7px;
}

.feature-table {
  margin: 10px 10px;
}

.btn-room-delete {
  margin-top: 2px;
}

.inspection-address {
  margin-top: 4px;
  font-size: 20px;
  font-weight: bold;
}

.add-room-form {
  margin-right: 15px;
}

.room-detail-item, .property-detail-item {
  margin: 10px 0;
}

.image-grid .thumbnail  {
  margin: 5px;
  height: 150px;
  position: relative;
}

.logo-thumbnail {
  margin: 5px;
  position: relative;
}

.image-grid .thumbnail .btn-image-delete, .logo-thumbnail .btn-image-delete {
  position: absolute;
  right: -5px;
  top: -5px;
  opacity: .50;
}

.image-grid .thumbnail .btn-image-delete:hover,  .logo-thumbnail .btn-image-delete:hover {
  position: absolute;
  right: -5px;
  top: -5px;
  opacity: .80;
}

#inspection-details .disabled {
  background-color: white;
}

.btn-calendar {
  background-color: whitesmoke;
}

btn-edit-toggle {
  margin-right: 20px;
}

.inspection-title, .room-title {
  font-size: 18px;
  line-height: 36px;
}
