#property-edit-tabs {
  padding-bottom: 20px;
}

.btn-toggle {
  color: green;
  text-decoration: none;
  padding-right: 5px;
}

.btn-toggle:hover {
  color: rgba(95,127,176, 0.6);
}

.remove-feature-button {
  color: #aaa;
  text-decoration: none;
}

.property-panel {
  margin-bottom: 20px !important;
}

.property-heading-row {
  line-height: 20px;
  padding-right: 10px;
}

.property-inspections-table {
  margin-bottom: 0px;
}

.property-inspections-table th {
  font-weight: lighter;
  color: #aaa;
  border-bottom: none !important;
}

.show-inspections-link {
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
}

.detail-label {
  margin-right: 20px;
}

.save-property-button {
  padding-bottom: 20px;
}

#room-count-row {
  padding: 0px;
}

.room-count-box {
  margin-bottom: 10px;
}

.room-count-boxes {
  margin-left: -15px;
}

body #newPropertyModal .modal-dialog {
  width: 80% !important;
}