#property-edit-tabs {
  padding-bottom: 20px;
}

.toggle-btn {
  color: #aaa;
  text-decoration: none;
  padding-right: 5px;
}

.remove-feature-button {
  color: #aaa;
  text-decoration: none;
}

.room-title {
  font-size: 18px;
}