// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toc {
  
  padding: 0px 60px;
  
  .title {
    font-size:2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p, ul {
    font-size: .8em;
  }
  
}

.support {
  p {
    margin-bottom: 40px;
  }
}
