// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.button-row {
  padding-top:20px;
}

.plans {
  .well {
    min-height: 440px;
  }
}
