<div ng-init="inspection_id='<%= @inspection.id %>'">
	<div class="panel-group" id="accordion" ng-controller="InspectionController">
		<div class="panel panel-default">
		  <div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-md-7 inspection-address">
							<%= @inspection.address %>
							<% if @inspection.unit %> #<%= @inspection.unit %><% end %>
						</div>
						<form class="add-room-form form-inline pull-right" role="form" ng-submit="addRoom()">
						  <div class="form-group">
						    <label class="sr-only" for="newRoomName">Name</label>
						    <input type="text" class="form-control input-sm" id="newRoomName" placeholder="Room Name" ng-model="newRoom.name">
						  </div>
						  <div class="form-group">
						    <label class="sr-only" for="newRoomType">Type</label>
								<%= select_tag "Room Type", options_for_select([ ["Bedroom", "bedroom"], ["Bathroom", "bathroom"], ["Kitchen", "kitchen"] ]),
										:class => "form-control input-sm", :"ng-model" => "newRoom.type", prompt: "Room Type" %>
						  </div>
						  <button type="submit" class="btn btn-sm btn-success">Add Room</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default" ng-repeat="room in rooms">
		  <div class="room-heading panel-heading" data-toggle="collapse" data-parent="#accordion" href="#room_{{ room.id }}">
				<div class="room-title panel-title" ng-init="inspected_room_id=room.id">
					{{ room.name }}
					<button class="btn-room-delete btn btn-xs btn-danger pull-right" ng-click="deleteRoom(room,$index)">Remove</button>
				</div>
			</div>
	  	<ul class="list-group panel-collapse collapse" ng-controller="FeatureController" id="room_{{ room.id }}">
		    <li class="list-group-item" ng-repeat="feature in room.inspected_features">
					<div class="row">
						<h4 class="col-md-2 feature-name">{{ feature.name }}</h4>
						<div class="col-md-2">
							<button ng-click="isClean(feature)" type="button" 
											ng-class="{'btn-success': feature.clean==true, 'btn-default': feature.clean==false || feature.clean==nil}" class="btn btn-sm">
								<span class="glyphicon glyphicon-thumbs-up"></span> Clean
							</button>
							<button ng-click="isDirty(feature)" type="button" 
											ng-class="{'btn-danger': feature.clean==false, 'btn-default': feature.clean==true || feature.clean==nil}" class="btn btn-sm">
								<span class="glyphicon glyphicon-thumbs-down"></span> Dirty
							</button>
						</div>
						<div class="col-md-2">
							<button ng-click="hasMarks(feature)" type="button" 
											ng-class="{'btn-danger': feature.marks==true, 'btn-default': feature.marks == false || feature.marks==nil}" class="btn btn-sm">
								<span class="glyphicon glyphicon-exclamation-sign"></span> Marks
							</button>
							<button ng-click="hasDamage(feature)" type="button"
							 				ng-class="{'btn-danger': feature.damage==true, 'btn-default': feature.damage == false || feature.damage==nil}"class="btn btn-sm">
								<span class="glyphicon glyphicon-warning-sign"></span> Damage
							</button>
						</div>
						<form class="form-inline" role="form">
							<div class="form-group col-md-5">
						    <input type="text" ng-model="feature.comment" class="form-control" ng-change="addComment(feature, feature.comment)" placeholder="Comments">
							</div>
					  </form>
						<button class="btn-feature-delete btn btn-xs btn-danger pull-right" ng-click="deleteFeature(feature,$index)">Remove</button>
					</div>
				</li>
		  </ul>
		</div>
	</div>
</div>

<script>
$('.panel-collapse').on('shown.bs.collapse', function () {
	alert("collapse");
	$(this).find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
})

$('.panel-collapse').on('hidden.bs.collapse', function () {
	$(this).find('.glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
})
</script>