<div ng-init="inspection_id='<%= @inspection.id %>'">
<div class="panel-group" id="accordion" ng-controller="InspectionController">
	{{ rooms.first }}
  <div class="panel panel-default room-panel" ng-repeat="room in rooms">
		<div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle room-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ room.id }}">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
        {{ room.name }}
      </h4>
    </div>
    <div id="collapse{{ room.id }}" class="panel-collapse collapse" ng-init="inspected_room_id=room.id">
      <div class="panel-body" ng-controller="FeatureController">
				<table class="table">
					<tr ng-repeat="feature in features">
						<td>{{ feature.name }}</td>
						<td>{{ featute.clean }}</td>
						<td><button ng-click="isClean(feature)">Clean</button></td>
					</tr>
				</table>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$('.room-panel').on('show.bs.collapse', function () {
	$(this).find('.glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
})

$('.room-panel').on('hidden.bs.collapse', function () {
	$(this).find('.glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
})
</script>