<div class="panel" id="inspection-details">
	<div class="panel-body" ng-init="stateList=<%= states %>;
                                   provinceList=<%= provinces %>;
                                   inspectionSaved=false;
                                   typeList=<%= inspection_types %>">
		<form ng-submit="editInspection(inspection)" name="editInspectionForm" class="form-horizontal">
			<div class="form-group row">
				<div class="col-md-8">
					<input class="form-control" ng-model="inspection.address.street1" placeholder="Street">
				</div>
				<div class="col-md-4">
					<input class="form-control" ng-model="inspection.address.street2" placeholder="Apt/Suite">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-5">
					<input class="form-control" ng-model="inspection.address.city" placeholder="City">
				</div>
				<div class="col-md-3" ng-hide="inspection.address.country=='Canada'">
					<select class="form-control" ng-model="inspection.address.state" ng-options="state for state in stateList">
						<option value="">Select State</option>
					</select>
				</div>
				<div class="col-md-3" ng-show="inspection.address.country=='Canada'">
					<select class="form-control" ng-model="inspection.address.state" ng-options="province for province in provinceList">
						<option value="">Select Province</option>
					</select>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="inspection.address.zip" placeholder="Zip">
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="inspection.address.country">
						<option value="USA">USA</option>
						<option value="Canada">Canada</option>
					</select>
				</div>
			</div>
      <div class="form-group row">
        <div class="col-md-3">
					<select class="form-control" ng-model="inspection.inspection_type" ng-options="type for type in typeList">
						<option value="">Inventory Type</option>
					</select>
        </div>
        <div class="col-md-3">
          <input class="form-control" ng-model="inspection.inspection_date" placeholder="Inspection Date (mm/dd/yyy)">
        </div>
        <div class="col-md-6 tetx-right">
          <div ng-hide="editInspectionForm.$dirty">
            <button type="submit" class="btn btn-sm btn-success pull-right" disabled>Edit Details</button>
          </div>
          <div ng-show="editInspectionForm.$dirty" style="display:hidden">
            <button type="submit" class="btn btn-sm btn-success pull-right">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</div>