<div class="panel-collapse collapse" id="property-details">
	<table class="table-condensed table-responsive feature-table">
		<tr ng-repeat="detail in inspection.inspection_details">
			<td class="col-md-4">
				<form class="form-inline">
					<span ng-hide="detail.editing" class="feature-name" ng-click="detail.editing = true">{{ detail.name }}</span>
					<span ng-show="detail.editing">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="detail.name">
						</div>
						<button class="btn btn-default btn-sm" type="submit" ng-click="detail.editing = false; editDetail(detail)">Save</button>
					</span>
				</form>
			</td>
			<td class="col-md-3">
				<div class="btn-group">
					<button ng-click="setDetailStatus(detail, 'present')" type="button" 
									ng-class="{'btn-primary': detail.status=='present', 'btn-default': detail.status != 'present' || detail.status==nil}" 
									class="btn btn-sm">Present
					</button>
					<button ng-click="setDetailStatus(detail, 'not working')" type="button" 
									ng-class="{'btn-primary': detail.status=='not working', 'btn-default': detail.status != 'not working' || detail.status==nil}" 
									class="btn btn-sm">Not Working
					</button>
					<button ng-click="setDetailStatus(detail, 'missing')" type="button" 
									ng-class="{'btn-primary': detail.status=='missing', 'btn-default': detail.status != 'missing' || detail.status==nil}" 
									class="btn btn-sm">Missing
					</button>
				</div>
			</td>
			<td class="col-md-5">
				<form class="form-inline">
					<input type="text" ng-model="detail.comment" class="form-control" placeholder="Comments" ng-change="addDetailComment(detail, detail.comment)">
				</form>
			</td>
			<td class="col-md-1">
				<button class="btn-feature-delete btn btn-xs btn-danger pull-right" ng-click="deleteDetail(detail,$index)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
		<tr>
			<td>
				<form class="form-inline" ng-submit="addDetail()">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="newDetail.name" placeholder="New Detail" ng-submit="addDetail()">
					</div>
					<button class="btn btn-sm btn-default">Add</button>
				</form>
			</td>
		</tr>
	</table>
</div>