<div class="panel-collapse collapse" id="room_{{ room.id }}">
	<div class="panel-body" ng-controller="FeatureController">
    <div class="row" ng-repeat="feature in room.inspected_features">
			<div class="col-md-3 room-detail-item">
				<form class="form-inline">          
					<span class="clicktoedit" ng-hide="feature.editing" class="feature-name" ng-click="feature.editing = true">{{ feature.name }}
            <span class="glyphicon glyphicon-pencil edit-icon"></span>
          </span>
					<span ng-show="feature.editing">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="feature.name">
						</div>
						<button class="btn btn-success btn-sm" type="submit" ng-click="feature.editing = false; editFeature(feature)">Save</button>
					</span>
				</form>
			</div>
			<div class="col-md-8 room-detail-item">
				<form class="form-inline">
					<input type="text" ng-model="feature.comment" class="form-control" placeholder="Comments" ng-change="addComment(feature, feature.comment)">
				</form>
			</div>
			<div class="col-md-1 room-detail-item">
				<button class="btn-feature-delete btn btn-xs btn-danger pull-right" ng-click="deleteFeature($parent.$index,feature,$index)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 room-detail-item">
				<form class="form-inline" ng-submit="addFeature($parent.$index,room)">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="newFeature.name" placeholder="New Valuable" ng-submit="addFeature($parent.$index,room)">
					</div>
					<button class="btn btn-sm btn-success pull-right">Add</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div ng-controller="ImageController" class="col-md-2">
				<form ng-upload="uploadRoomImage(content)" action="/images" upload-options-enable-rails-csrf>
					<span ng-show="uploadStatus == 'nofile'" class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Select an image, receipt and/or appraisal to upload</span>
						<input type="file" name="image[asset]" onchange="angular.element(this).scope().setFiles(this)">
					</span>
					<input type='hidden' name='image[imageable_id]' value='{{room.id}}'>
					<input type='hidden' name='image[imageable_type]' value='InspectedRoom'>
					<button ng-show="uploadStatus == 'uploading'" class="btn btn-warning" disabled>
						<i class="glyphicon glyphicon-cloud-upload"></i>
						<span>Uploading {{ files[0].name }}</span>
					</button>
					<button ng-show="uploadStatus == 'hasfile'" class="btn btn-success" upload-submit ng-click="startUpload()">
						<i class="glyphicon glyphicon-arrow-up"></i>
						<span>Upload {{ files[0].name }}</span>
					</button>
				</form>
			</div>
		</div>
		<div class="row room-detail-item image-grid">
		  <div ng-repeat="image in room.images" class="col-md-2">
		    <div class="thumbnail">
		      <img ng-src="{{ image.asset.asset.thumb.url }}">
					<textarea type="text" ng-model="image.comment" class="image-comment form-control" 
														 placeholder="Comments" ng-change="addImageComment(image, image.comment)"></textarea>
					<button class="btn-image-delete btn btn-xs btn-danger pull-right" ng-click="deleteRoomImage($parent.$index,image,$index)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
		    </div>
		  </div>
		</div>
	</div>
</div>