<div class="room-panel panel panel-default" ng-repeat="room in inspection.misc_valuables">
  <div class="room-heading panel-heading">
    <div class="room-title panel-title" ng-init="inspected_room_id=room.id">
      <form class="form-inline">
        <span class="btn-toggle glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#accordion" href="#room_{{ room.id }}"></span>
        <span class="clicktoedit" ng-hide="room.editing" ng-click="room.editing = true">{{ room.name }}
          <span class="glyphicon glyphicon-pencil edit-icon"></span>
        </span>
        <a href="#" data-toggle="modal" data-target="#examplesModal" class="examples">(click for examples)</a>
        <!-- Modal -->
        <div class="modal fade" id="examplesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Examples of Miscellaneous Valuables</h4>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Jewelry</li>
                  <li>Furs</li>
                  <li>Art collection</li>
                  <li>Stamp collection</li>
                  <li>Sport collection</li>
                  <li>Coin collection</li>
                  <li>Other Collectibles</li>
                  <li>Heirlooms</li>
                  <li>Antiques</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span ng-show="room.editing">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="room.name">
          </div>
          <button class="btn btn-success btn-sm" type="submit" ng-click="room.editing = false; editRoom(room)">Save</button>
        </span>
        <button class="btn-room-delete btn btn-xs btn-danger pull-right" ng-click="deleteRoom(room,$index)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </form>
    </div>
  </div>
  <div class="panel-collapse collapse" id="room_{{ room.id }}">
  	<div class="panel-body" ng-controller="FeatureController">
      <div class="row" ng-repeat="feature in room.inspected_features">
  			<div class="col-md-3 room-detail-item">
  				<form class="form-inline">          
  					<span class="clicktoedit" ng-hide="feature.editing" class="feature-name" ng-click="feature.editing = true">{{ feature.name }}
              <span class="glyphicon glyphicon-pencil edit-icon"></span>
            </span>
  					<span ng-show="feature.editing">
  						<div class="form-group">
  							<input type="text" class="form-control" ng-model="feature.name">
  						</div>
  						<button class="btn btn-success btn-sm" type="submit" ng-click="feature.editing = false; editFeature(feature)">Save</button>
  					</span>
  				</form>
  			</div>
  			<div class="col-md-8 room-detail-item">
  				<form class="form-inline">
  					<input type="text" ng-model="feature.comment" class="form-control" placeholder="Comments" ng-change="addComment(feature, feature.comment)">
  				</form>
  			</div>
  			<div class="col-md-1 room-detail-item">
  				<button class="btn-feature-delete btn btn-xs btn-danger pull-right" ng-click="deleteMiscFeature($parent.$index,feature,$index)">
  					<span class="glyphicon glyphicon-trash"></span>
  				</button>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-3 room-detail-item">
  				<form class="form-inline" ng-submit="addMiscFeature($parent.$index,room)">
  					<div class="form-group">
  						<input type="text" class="form-control" ng-model="newFeature.name" placeholder="New Valuable
              ">
  					</div>
  					<button class="btn btn-sm btn-success pull-right">Add</button>
  				</form>
  			</div>
  		</div>
  		<div class="row">
  			<div ng-controller="ImageController" class="col-md-2">
  				<form ng-upload="uploadRoomImage(content)" action="/images" upload-options-enable-rails-csrf>
  					<span ng-show="uploadStatus == 'nofile'" class="btn btn-success fileinput-button">
  						<i class="glyphicon glyphicon-plus"></i>
  						<span>Select an image, receipt and/or appraisal to upload and/or appraisal to upload</span>
  						<input type="file" name="image[asset]" onchange="angular.element(this).scope().setFiles(this)">
  					</span>
  					<input type='hidden' name='image[imageable_id]' value='{{room.id}}'>
  					<input type='hidden' name='image[imageable_type]' value='InspectedRoom'>
  					<button ng-show="uploadStatus == 'uploading'" class="btn btn-warning" disabled>
  						<i class="glyphicon glyphicon-cloud-upload"></i>
  						<span>Uploading {{ files[0].name }}</span>
  					</button>
  					<button ng-show="uploadStatus == 'hasfile'" class="btn btn-success" upload-submit ng-click="startUpload()">
  						<i class="glyphicon glyphicon-arrow-up"></i>
  						<span>Upload {{ files[0].name }}</span>
  					</button>
  				</form>
  			</div>
  		</div>
  		<div class="row room-detail-item image-grid">
  		  <div ng-repeat="image in room.images" class="col-md-2">
  		    <div class="thumbnail">
  		      <img ng-src="{{ image.asset.asset.thumb.url }}">
  					<textarea type="text" ng-model="image.comment" class="image-comment form-control" 
  														 placeholder="Comments" ng-change="addImageComment(image, image.comment)"></textarea>
  					<button class="btn-image-delete btn btn-xs btn-danger pull-right" ng-click="deleteRoomImage($parent.$index,image,$index)">
  						<span class="glyphicon glyphicon-trash"></span>
  					</button>
  		    </div>
  		  </div>
  		</div>
  	</div>
  </div>
</div>
<script>
  $(function (){
     $("#example").popover();
  });
</script>