<% provide(:title, "Inventories") %>
<% if current_user.agent? && !current_user.approved_agent? %>
<div class="col-md-12">
  <div class="well">
    Thank you for your interest in becoming a MyInventory Agent. We will be in contact with you shortly.
  </div>
</div>
<% else %>
<div class="col-md-12" ng-init="stateList=<%= states %>;provinceList=<%= provinces %>;detailList=<%= detail_list %>;">
  <div ng-controller="InspectionController">
    <div class="panel-group" id="inspectionAccordion">
      <div class="panel panel-default user-panel">
  			<div class="panel-heading">
  				<h4 class="panel-title">My Inventories</h4>
  			</div>
        <ul class="list-group">
          <li class="list-group-item row" ng-repeat="inspection in inspections">
            <div class="col-md-4"><a ng-href="inspections/{{inspection.id}}">{{ inspection.name }}</a></div>
            <div class="col-md-4">{{ inspection.display_type }}</div>
            <div class="col-md-4">
              <a ng-href="inspections/{{inspection.id}}" class="btn btn-primary btn-xs pull-right">Edit</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>