<% provide(:title, "Inventories") %>
<div class="col-md-12" ng-init="stateList=<%= states %>;provinceList=<%= provinces %>;detailList=<%= detail_list %>;">
  <div ng-controller="InspectionController">    
    <div class="row">
    	<div class="col-md-8 pull-left form-header">My Inventories</div>
    </div>
    <div class="panel-group" id="inspectionAccordion">
  		<div class="property-panel panel panel-default" ng-repeat="inspection in inspections">
  			<div class="panel-heading">
  				<h4 class="panel-title">
  					<div class="property-heading-row row">
  						<div class="col-md-4">
  							<span class="btn-toggle glyphicon glyphicon-plus" 
                data-toggle="collapse" data-parent="#inspectionAccordion" href="#inspection_{{ inspection.id }}"></span>
  							{{ inspection.name }}
  						</div>
  						<div class="col-md-4">
  							{{ inspection.inspection_date | date:'mediumDate' }}
  						</div>
  						<div class="pull-right">
                <a class="btn btn-primary btn-xs" ng-href="/inspections/{{inspection.id}}">Show</a>
                <a class="btn btn-danger btn-xs" href="" ng-click="deleteInspection(inspection,$index)">Delete</a>
  						</div>
  					</div>
  				</h4>
  			</div>
  		</div>
    </div>
  </div>
</div>
