<footer>
  <div class="container">
    <div class='row'>
      <div class='col-sm-3'>
        <ul class='list-inline'>
          <li><%= link_to 'Become an Agent', new_agent_path %></li>
          <li><%= link_to 'Agent Login', '' %></li>
        </ul>
      </div>
      <div class='col-sm-3 col-sm-offset-6'>
        <ul class='list-inline'>
          <li><%= link_to 'Contact Us', contact_path %></li>
          <li><%= link_to 'Terms & Conditions', toc_path %></li>
        </ul>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12'>
        Copyright &copy; 2014 - MyInventory! - All Rights Reserved.
        <div class="pull-right">
          <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=FHB8NzQCeFQs9NhjQYvEg1swQPHpulY6kCMoNVNsZY7V7HGnJhs7euUKW"></script></span>
        </div>
      </div>
    </div>
  </div>
</footer>
