<footer>
  <div class="container">
    <div class='row'>
      <div class='col-md-4 footer-text'>
        <ul class='list-inline'>
          <li><%= link_to 'Become an Agent', new_agent_path %></li>
          <li><%= link_to 'Contact Us', contact_path %></li>
          <li><%= link_to 'Terms & Conditions', toc_path %></li>
        </ul>
      </div>
			<div class='col-md-5 footer-text'>
				Copyright &copy; 2014 - MyInventory! - All Rights Reserved.
			</div>
			<div class="col-md-2 godaddyseal">
					<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=FHB8NzQCeFQs9NhjQYvEg1swQPHpulY6kCMoNVNsZY7V7HGnJhs7euUKW"></script></span>
      </div>
		</div>
  </div>
</footer>
