<ul class="nav navbar-nav">
  <li><%= link_to "Inspections", inspections_path %></li>
	<li><%= link_to "Profile", profile_path %></li>
</ul>
<div class="btn-group btn-group-xs">
	<%= link_to "Hello, #{current_user.first_name}", '#', class: "btn btn-default navbar-btn" %>	
	<%= link_to 'Sign Out', signout_path, method: "delete", class: "btn btn-default navbar-btn"  %>	
</div>