<!DOCTYPE html>
<html>
	<%= render :partial => 'layouts/head_tags' %>
	<body>
		<%= render :partial => 'layouts/header' %>
		<div id="contactPage">
			<div class="container">
				<div class="row">
					<div id="contactInfo" class="col-md-5 col-md-offset-1">
			    	<h1>Contact</h1>
						<p>
							We want to help you anyway we can.
							If you need assistance using Inspeckd,
							want to tell us how we can make Inspeckd better,
							or just need to talk with another person,
							feel free to use the easiest contact method:
						</p>
						<div class="contact-header">Location</div>
						<p>
							Inspeckd is proudly located and operated in Salt Lake City, UT.
						</p>
						<div class="contact-header">Email</div>
						<p>
							<a href="mailto:info@inspeckd.com">info@inspeckd.com</a> (Nate is the guy who will get your email)
						</p>
						<div class="contact-header">Phone</div>
						<p>
							Hours: from 9:00-5:00 MST
							<br />
							<b>801.449.1172</b>
						</p>
					</div>
					<div class="col-md-4 col-md-offset-1">
	          <div class="well">
							
						</div>
	        </div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
	  		<small>Copyright © 2013 - Inspeckd - All Rights Reserved.</small>
			</div>
		</footer>
	</body>
</html>